<div class="text-center my-4">
  <u><h1>プロフィール編集</h1></u>
</div>


<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item">
    <a href="<%= edit_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(edit_user_path(@user)) %>"> アカウント設定・好きな球団 </a></li>
  </li>
  <li class="nav-item">
    <a href="<%= featured_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(featured_user_path(@user)) %>"> 注目選手 </a></li>
  </li>
</ul>
<%= render 'users/edit_user', user: @user %>
